/* Globals */

/* Enable kerning, and ligatures globally, */
/* safer and more performant than text-rendering optimizelegibility */
* {
	font-feature-settings: "kern" 1, "liga" 1;
	-webkit-font-feature-settings: "kern" 1, "liga" 1;  /* No variation */
    -moz-font-feature-settings: "kern" 1, "liga" 1;  /* Firefox 15.0 onwards explicitly set feature values */
    -ms-font-feature-settings: "kern" 1, "liga" 1; 
}


/* Colors  */
.dark-gray {
	background-color: #2C2A2B;
}
.medium-dark-gray {
	background-color: #363736;
}
.medium-gray {
	background-color: #58585B;
}
.medium-light-gray {
	background-color: #BBBDC0;
}
.light-gray {
	background-color: #808284;
}
.background-gray {
	background-color: #F3F3F4;
}


/* Typography */

/* All em values assume there's no inherited font size through a 
modified parent. Feel free to use 'rem' over 'em' (which inherits directly from the root element) if easier */

/* Use https://www.npmjs.com/package/gulp-pixrem if you need to support IE 10 and down */

/* Realize you're using calc in some cases, so the computed size from calc should be as close to these as possible */

/* Marketing Page View */

/* Header */
.pubpub-logo {
    font-family: 'Yrsa', Georgia, serif;
    font-size: 1.3em;
    font-weight: 900;
}
.text-ui {
	font-family: 'ClearSans', Helvetica Neue, Arial, sans-serif;
	font-size: 1.1em;
}
.menu {
	font-family: 'ClearSans', Helvetica Neue, Arial, sans-serif;
	font-size: .9rem;
}

/* Intro */
.intro-pubpub {
    font-family: 'Yrsa', Georgia, serif;
    font-size: 5.5em;
    font-weight: 900;
}
.intro-sub-copy {
    font-family: 'Clear Sans Light', Helvetica Neue, Arial, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .2em;
}

/* Feature Section */
.title {
    font-family: 'Clear Sans', Georgia, serif;
    font-size: 1.6em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.feature-subhead {
	font-family: 'Yrsa', Georgia, serif;
	font-weight: 900;
	font-size: 1.5em;
}
.bodycopy {
    font-family: 'Clear Sans Light', Georgia, serif;
    font-size: 1em;
}
.feature-toggle {
    font-family: 'Clear Sans Light', Georgia, serif;
    font-size: 1.2em;
}


/* Publication View */
#pubContent .title {
    font-family: 'Yrsa', Georgia, serif;
    font-size: 3.5em;
	font-weight: 900;
	line-height: 1;
}

#pubContent h1 {
    font-family: 'Clear Sans', Helvetica Neue, Arial, serif;
    font-size: 2.1em;
    line-height: 1.25;
    font-weight: 300;
}
#pubContent h2 {
    font-family: 'Clear Sans', Helvetica Neue, Arial, serif;
	font-size: 1.7em;
    line-height: 1.25;
    font-weight: 300;
}
#pubContent h3 {
    font-family: 'Clear Sans', Helvetica Neue, Arial, serif;
	font-size: 1.3em;
    line-height: 1.25;
    font-weight: 900;
}
#pubContent h4 {
    font-family: 'Clear Sans', Helvetica Neue, Arial, serif;
	font-size: 1.1em;
    line-height: 1.25;
    font-weight: 900;
}
#pubContent h5 {
    font-family: 'Clear Sans', Helvetica Neue, Arial, serif;
	font-size: .9em;
	letter-spacing: .02rem;
    line-height: 1.25;
    font-weight: 900;
}

#pubContent .p-block {
    font-family: 'Yrsa', Georgia, serif;
	font-size: 1.2em;
    line-height: 1.5;
	font-weight: 400;	
}

#pubContent .italic {
	font-family: 'Merriweather', Georgia, serif;
	font-weight: 400;
	font-style: italic;
	font-size: .785em;
}

.discussion {
	font-family: 'Clear Sans', Helvetica Neue, Arial, serif;
	font-size: 1.25em;
    font-weight: 900;
}


/* Editor View */
.editor {
	font-family: 'Inconsolata', monospace;
	letter-spacing: .01em;
}
.title {
	font-weight: 900;
    font-size: 1.8em;
}

/* Settings Modal and other flyouts */
.headline {
	font-family: 'Clear Sans', Helvetica Neue, Arial, serif;
	font-size: 1.5em;
	font-weight: 100;
}
.setting-title {
	font-family: 'Clear Sans', Helvetica Neue, Arial, serif;
	font-size: 1em;
	font-weight: 900;
}
.setting-toggle {
	font-family: 'Clear Sans', Helvetica Neue, Arial, serif;
	font-size: 1em;
	font-weight: 900;
}

/* Profile/Settings */




/* Miscellaneous */
.button {
    display: inline-block;
    font-family: 'ClearSans', Helvetica Neue, Arial, sans-serif;
    font-size: 1em;
    font-weight: 100;
    border: solid 2px #58585B;
    padding: .9em 1.8em;
}
.button:hover {
    background-color: #58585B;
    color: #FEFEFE;
}

.button.medium {
padding: .4em .9em .6em .9em;
}

.button.small {
	font-size: .9em;
	border: solid 1px #58585B;
	padding: .1em .8em .2em .8em;
	border-radius: .1rem;
}