#%RAML 0.8
title: PubPub
documentation:
  - title: Introduction
    content: |
      The goal of this API is to give access to all of the publicly available resources on PubPub. Accessing resources or actions that require authentication will be supported soon.
version: v1
protocols: [ HTTPS ]
baseUri: https://api.pubpub.org
mediaType: application/json

/user:
  description: |
    Routes to access data about PubPub Users
  /{username}:
    get:
      description: |
        Get user by username. Returns same content as /user/{id}.
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "_id": "980ca098189",
                  "username": "username",
                  "firstName": "Jane",
                  "lastName": "Doe",
                  "name": "Jane Doe",
                  "image": "https://assets.pubpub.org/picture.jpg",
                  "bio": "I am a porcupine",
                  "publicEmail": "jane@doe.com",
                  "github": "janeCodes",
                  "orcid": "123-123-123-123",
                  "twitter": "janedoe",
                  "website": "http://www.example.com",
                  "googleScholar": "janesGoogleURI",
                }
        404:
          body:
            application/json:
              example: |
                {
                  "error" : "User not found"
                }
  /{id}:
    get:
      description: |
        Get user by id. Returns same content as /user/{username}.
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "_id": "980ca098189",
                  "username": "username",
                  "firstName": "Jane",
                  "lastName": "Doe",
                  "name": "Jane Doe",
                  "image": "https://assets.pubpub.org/picture.jpg",
                  "bio": "I am a porcupine",
                  "publicEmail": "jane@doe.com",
                  "github": "janeCodes",
                  "orcid": "123-123-123-123",
                  "twitter": "janedoe",
                  "website": "http://www.example.com",
                  "googleScholar": "janesGoogleURI",
                }
        404:
          body:
            application/json:
              example: |
                {
                  "error" : "User not found"
                }


/journal:
  description: |
    Routes to access data about PubPub Journals
  /{slug}:
    get:
      description: |
        returns information about the journal with the given slug
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "journalName": "",
                  "description": "",
                  "about": "",
                  "website": "",
                  "twitter": "",
                  "facebook": "",
                  "collections": []
                }
        404:
          body:
            application/json:
              example: |
                {
                  "error" : "Not found"
                }
    /featured:
      get:
        description: |
          returns the featured pubs of a journal.
        responses:
          200:
            body:
              application/json:
                example: |
                  {
                    "idktbh" :""
                  }
    /articles:
      get:
    /collections:
      get:
    /collection:
      /{id}:
        get: